
/* .example-form{
  border-radius: 25px;
 
  background-position: left top;
  background-repeat: repeat;
  text-align: center;
  padding: 20px; 
  width: 1000px;
  height: 500px;  
}
.table {
  width: 100%;
}
/* .container{
   margin-top: 250px;
  
} */ 


